

{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }} : {{program.title}}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <div class="season_description">
                <h1>{{program.title}} : Saison {{ season.number }}</h1>
                <p>{{ season.description }}</p>
                <ul>
                    <h3>Liste des épisodes :</h3>
                    {% for episode in season.episode %}
                    <a href="{{ path('program_episode_show', {programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug}) }}">  Episode  {{ episode.number}} : {{episode.title}}</a><br>
                    {% endfor %}
                </ul>
            </div>
            <a href="{{ path('episode_new') }}">Ajouter un épisode</a><br>
            <a href="{{ path("program_show", { slug: program.slug }) }}">Retour à la liste des saisons</a>
        </div>
    </div>
{% endblock %}
  
